body {
    background-color: black;
    color: white;
}

.jumbotron {
    background-color: black;
    color: white;
}

.profilePhoto {
    height: 250px;
    width: 100%;
    float: left;
}

.contact {
    font-size: 20px;
}

hr {
    background-color: white;
}

.projectPic {
    height: 300px;
    width: 300px;
}

.projectTitle {
    font-size: 30px;
}